# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/
env/
ENV/

# ==========================================
# Environment Variables
# ==========================================

.env
.env.*

# ==========================================
# macOS
# ==========================================

.DS_Store

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Pytest
# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Build
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# ML Models
# ==========================================

backend/ml/saved_models/
*.pkl
*.joblib

# ==========================================
# Python Cache
# ==========================================

.mypy_cache/
.ruff_cache/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# IDE
# ==========================================

.idea/

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.temp